In [5]:
# Data Selection in Dataframes
import pandas as pd

In [3]:
area = pd.Series({'California':423967, 'Texas': 695662, 'Florida':170312, 'New York':141297,'Pennsylvania':119280})

In [4]:
pop = pd.Series({'California':39538223,'Texas':29145505,'Florida':21538187,'New York':20201249,'Pennsylvania':13002700})

In [7]:
# Combining these two Series into a single data frame 
data = pd.DataFrame({'area': area, 'pop': pop})

In [10]:
data.describe

<bound method NDFrame.describe of                 area       pop
California    423967  39538223
Texas         695662  29145505
Florida       170312  21538187
New York      141297  20201249
Pennsylvania  119280  13002700>

In [11]:
data

                area       pop
California    423967  39538223
Texas         695662  29145505
Florida       170312  21538187
New York      141297  20201249
Pennsylvania  119280  13002700

In [12]:
# therefore it is possible to access the individual series by dictionary style indexing
data['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [16]:
data.area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [17]:
# this dictionary style format allows for the data to be modified similar to a Series

In [18]:
# add a new column for population density
data['density'] = data['pop'] / data['area']

In [19]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893