In [1]:
import pandas as pd

In [12]:
parksData = pd.read_csv('./data/Parks.csv')

parksData = parksData[['PROPERTYID','NAME','ACRES','Shape_Length','Shape_Area']]
parksData.head()

   PROPERTYID               NAME      ACRES  Shape_Length     Shape_Area
0          48  Albert Kelly Park  12.086152   1439.252170   99517.684997
1          49       Alberta Park  16.403797   1597.320137  135441.949786
2          51    April Hill Park  10.122265   1454.650781   83301.344632
3          52   Arbor Lodge Park   8.691468   1089.424844   71783.775744
4          53         Argay Park   8.928252   1172.208302   73684.911851

In [13]:
# export to CSV
parksData.to_csv('parks.csv',index=False)

In [20]:
treeData = pd.read_csv('./data/Parks_Tree_Inventory.csv')

treeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25740 entries, 0 to 25739
Data columns (total 42 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   X                           25740 non-null  float64
 1   Y                           25740 non-null  float64
 2   OBJECTID                    25740 non-null  int64
 3   Inventory_Date              25740 non-null  object
 4   Species                     25740 non-null  object
 5   DBH                         25740 non-null  float64
 6   Condition                   25740 non-null  object
 7   TreeHeight                  25739 non-null  float64
 8   CrownWidthNS                25477 non-null  float64
 9   CrownWidthEW                25477 non-null  float64
 10  CollectedBy                 25735 non-null  object
 11  Notes                       617 non-null    object
 12  CrownBaseHeight             25477 non-null  float64
 13  GlobalID                    25740 non-null  object
 14  StaffReview                 5028 non-null   object
 15  created_user                25740 non-null  object
 16  created_date                25740 non-null  object
 17  last_edited_user            25740 non-null  object
 18  last_edited_date            25740 non-null  object
 19  UserID                      25533 non-null  float64
 20  Structural_Value            25484 non-null  float64
 21  Carbon_Storage_lb           25484 non-null  float64
 22  Carbon_Storage_value        25484 non-null  float64
 23  Carbon_Sequestration_lb     25484 non-null  float64
 24  Carbon_Sequestration_value  25484 non-null  float64
 25  Stormwater_ft               25484 non-null  float64
 26  Stormwater_value            25484 non-null  float64
 27  Pollution_Removal_value     25484 non-null  float64
 28  Pollution_Removal_oz        25484 non-null  float64
 29  Total_Annual_Benefits       25484 non-null  float64
 30  Family                      25740 non-null  object
 31  Genus                       25740 non-null  object
 32  Common_name                 25740 non-null  object
 33  Genus_species               25740 non-null  object
 34  Functional_type             25476 non-null  object
 35  Size                        25476 non-null  object
 36  Native                      25306 non-null  object
 37  Edible                      1328 non-null   object
 38  Nuisance                    2777 non-null   object
 39  Origin                      23533 non-null  object
 40  Species_factoid             24107 non-null  object
 41  PropertyID                  25694 non-null  float64
dtypes: float64(19), int64(1), object(22)
memory usage: 8.2+ MB

In [28]:
treeData = treeData[['OBJECTID','Inventory_Date','Family','Genus','Common_name','Genus_species','TreeHeight','Native','Edible','PropertyID','Carbon_Storage_lb','Carbon_Storage_value','Carbon_Sequestration_lb','Carbon_Sequestration_value','Pollution_Removal_value','Pollution_Removal_oz']]
treeData.head()

,X,Y,OBJECTID,Inventory_Date,Species,DBH,Condition,TreeHeight,CrownWidthNS,CrownWidthEW,...,Common_name,Genus_species,Functional_type,Size,Native,Edible,Nuisance,Origin,Species_factoid,PropertyID
0,-1.365819e+07,5.712487e+06,426,2017/05/09 00:00:00+00,PSME,37.4,Fair,105.0,44.0,57.0,...,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...,137.0
1,-1.365821e+07,5.712485e+06,427,2017/05/09 00:00:00+00,PSME,32.5,Fair,94.0,49.0,45.0,...,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...,137.0
2,-1.365825e+07,5.712491e+06,428,2017/05/09 00:00:00+00,CRLA,9.7,Fair,23.0,28.0,27.0,...,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns...",137.0
3,-1.365823e+07,5.712487e+06,429,2017/05/09 00:00:00+00,QURU,10.3,Poor,28.0,38.0,31.0,...,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...,137.0
4,-1.365823e+07,5.712488e+06,430,2017/05/09 00:00:00+00,PSME,33.2,Fair,102.0,43.0,44.0,...,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...,137.0