In [1]:
# Chapter 7 Example: 
# What is the average height of US Presidents?

In [7]:
# import pandas for reading the president csv data 
import pandas as pd
import numpy as np

data = pd.read_csv('../data/president_heights.csv')

In [4]:
# confirm everything is working as expected...
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [9]:
# gather the heights of the presidents into a variable for aggregation
heights = np.array(data['height(cm)'])

In [10]:
heights

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180,
       183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188,
       188, 182, 185])